@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  height: 100vh;
  color: #adabab; }

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 80px;
  margin-bottom: 40px;
  margin-top: 40px; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 20px; }
  form button {
    padding: 15px;
    color: #303030;
    background-color: #adabab;
    border-radius: 0;
    border: none; }
    form button:hover {
      background-color: white;
      cursor: pointer; }
    form button:focus {
      box-shadow: none; }

label {
  margin-bottom: 10px; }

input {
  padding: 5px;
  margin-bottom: 10px;
  border: 4px solid #adabab;
  background-color: #303030;
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: white; }
  input:focus {
    box-shadow: none; }

.play {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  line-height: 50px;
  padding: 20px; }

#output {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  color: white; }

#button {
  padding: 25px;
  font-size: 25px;
  text-transform: uppercase;
  color: #303030;
  background-color: #adabab;
  border-radius: 0;
  border: none; }
  #button:hover {
    background-color: white;
    cursor: pointer; }
  #button:focus {
    box-shadow: none; }

select {
  width: 100px;
  height: 50px;
  color: #303030;
  background-color: #adabab;
  margin-bottom: 10px;
  border-radius: 0; }
  select:hover {
    cursor: pointer;
    background-color: white;
    text-align: center; }
  select:focus {
    box-shadow: none; }

#select {
  width: 400px; }

#card {
  padding: 15px;
  color: #303030;
  background-color: #adabab;
  border-radius: 0;
  border: none; }
  #card:hover {
    background-color: white;
    cursor: pointer; }
  #card:focus {
    box-shadow: none; }

.instructions {
  width: 1000px;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: column; }

#alive {
  color: green; }

#die {
  color: red; }

.directions {
  border: 4px solid #adabab;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 3px #adabab; }

#card-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: white; }

#cards {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  align-self: center;
  line-height: 23px; }
  #cards li {
    color: white; }
    #cards li ul {
      list-style-type: inherit; }
      #cards li ul li {
        color: #adabab;
        font-size: 12px; }

#timer {
  font-size: 30px;
  color: white;
  display: flex;
  align-self: center; }

#scores {
  list-style: none; }

.loss {
  display: flex;
  align-self: center;
  color: red;
  animation: death 3s ease 0s infinite; }

#win-screen {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #win-screen p {
    font-size: 30px;
    margin-bottom: 40px;
    color: green; }
  #win-screen button {
    padding: 25px;
    color: #303030;
    font-size: 20px;
    background-color: white;
    border-radius: 0;
    border: none; }
    #win-screen button:hover {
      background-color: #adabab;
      cursor: pointer; }
    #win-screen button:focus {
      box-shadow: none; }

@keyframes death {
  0% {
    color: red; }
  25% {
    color: #303030; }
  50% {
    color: red; }
  75% {
    color: #303030; }
  100% {
    color: red; } }

/*# sourceMappingURL=master.css.map */
